.screen-header{    
    position: fixed;
    top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    background-color: white;
    z-index: 1;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 25px;
    position: relative;
}
.screen-header__notification{    
    width: 6px;
    height: 6px;
    border-radius: 3px;
    left: 30px;
    bottom: 20px;
    position: absolute;
}